@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap");

html,
body,
#root {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  overflow: hidden;

  font-family: "Noto Sans KR", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  overflow: hidden;

  & > .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding: 10px 24px 24px;
    // margin-top: 28px;
    // margin-bottom: 50px;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    .container {
      display: flex;
      flex-direction: column;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 25px;
      }

      & > .label {
        font-size: 15px;
        font-weight: bold;
        color: rgb(255, 255, 255);
      }

      & > .sub-content:not(:first-child) {
        margin-top: 15px;
      }
    }

    input {
      height: 32px;
      width: 100%;
    }
  }
}

.entry.page,
.initial-nickname.page,
.login.page {
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;

    .title {
      font-size: 65px;
      font-weight: bold;
    }

    .subtitle {
      font-size: 11px;
      margin-top: 15px;
      color: gray;
    }
  }

  & > .label {
    position: absolute;
    top: 60px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  & > .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 150px;
    width: 100%;

    input {
      width: 70%;
    }

    input:not(:last-child) {
      margin-bottom: 20px;
    }

    .sign-up,
    .announcement {
      margin-top: 5px;
      font-size: 11px;
      padding: 5px 5px;
      color: #a56dff;
    }
  }

  .main-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 100px;
    width: 100%;

    .main-btn:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.home.page {
  .container.join-game {
    .input {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .join-btn {
      padding: 10px;
      background-color: #5929a7;
      border-radius: 20px;
      font-size: 13px;
      text-align: center;
    }
  }

  .container.games {
    .game-session-list {
      display: flex;
      flex-direction: column;
    }
  }
}

*::-webkit-scrollbar {
  width: 5px;

  &-track {
    // background: red;
  }

  &-thumb {
    background: rgba(202, 170, 255, 0.261);
    border-radius: 10px;
  }
}
