.game-money {
  display: flex;
  align-items: center;

  span.segment {
    &:not(:last-child) {
      //   margin-right: 3px;
    }
  }

  &.highlight {
    span.segment {
      &.u-0 {
        color: rgb(128, 161, 207);
      }

      &.u-1 {
        color: rgb(94, 193, 140);
      }

      &.u-2 {
        color: rgb(225, 205, 90);
      }

      &.u-3 {
        color: rgb(255, 146, 62);
      }

      &.u-4 {
        color: rgb(255, 62, 62);
      }
    }
  }
}
