.panel.dashboard {
  align-items: center;
  font-family: "Titillium Web", "Noto Sans KR", sans-serif;

  .state {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .board {
    display: flex;
    flex-direction: column;
    width: 100%;

    .other-player-boards {
      display: flex;
      flex-direction: column;
      margin-top: 15px;

      .row {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .area {
          flex: 1;
        }

        .area:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    .area {
      display: flex;
      flex-direction: column;
      background-color: rgb(35, 35, 35);
      color: rgb(242, 230, 255);
      border: 2px solid rgb(72, 72, 72);
      border-radius: 8px;
      box-sizing: border-box;
      //   width: 150px;
      align-items: center;
      overflow: hidden;

      &.turn {
        background-color: rgb(77, 21, 132);
        border: 2px solid rgb(186, 117, 255);
      }

      .nickname {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        height: 20px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgb(201, 201, 201);
      }

      .area-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 0;

        .gold {
          display: flex;
          align-items: center;
          font-size: 10px;
          color: rgb(151, 151, 151);
          font-weight: bold;
          padding: 2px 0;

          .label {
            margin-right: 3px;
          }
        }

        .pot {
          font-size: 16px;
          color: rgb(199, 195, 167);
          padding: 3px 0;
        }
      }
    }

    .stake-pot {
      $border-color: rgb(151, 131, 69);
      border: 2px solid $border-color;
      //   background-color: rgb(138, 115, 164);
      border-radius: 8px;
      width: 100%;
      color: rgb(255, 233, 162);
      background-color: rgb(52, 44, 30);
      box-sizing: border-box;

      .row {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        box-sizing: border-box;

        &:not(:last-child) {
          border-bottom: 2px solid $border-color;
        }

        .label {
          font-size: 15px;
        }

        .gold {
          display: flex;
          align-items: center;
          justify-content: right;
          font-size: 24px;
          flex: 1;
          text-align: right;
          font-weight: bold;
        }

        &.call {
          .gold {
            font-weight: normal;
            font-size: 16px;
          }
        }
      }
    }

    .my-board {
      width: 100%;
      margin-top: 15px;
      // background-color: rgb(20, 73, 38);

      .gold {
        font-size: 12px;
      }

      .pot {
        font-size: 28px;
      }
    }
  }

  .expansion {
    flex: 1;
    min-height: 15px;
  }

  .board-footer {
    display: flex;
    width: 100%;
    overflow: hidden;

    .controller {
      display: flex;
      width: 100%;
      flex: 1;

      .action-pack {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          margin-right: 10px;
        }

        .action {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px 12px;
          background: linear-gradient(to bottom, rgb(97, 97, 97), rgb(40, 40, 40));
          border-radius: 5px;
          font-size: 15px;
          width: 60px;

          filter: grayscale(30%);

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          &.call {
            background: linear-gradient(to bottom, rgb(226, 169, 62), rgb(118, 84, 25));
          }

          &.half {
            background: linear-gradient(to bottom, rgb(116, 199, 68), rgb(27, 89, 22));
          }

          &.bbing {
            background: linear-gradient(to bottom, rgb(62, 177, 226), rgb(25, 62, 118));
          }

          &.ddadang {
            background: linear-gradient(to bottom, rgb(185, 62, 226), rgb(113, 25, 118));
          }

          &.die {
            background: linear-gradient(to bottom, rgb(233, 42, 42), rgb(86, 14, 14));
          }
        }
      }
    }

    .pedigree {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      flex: 1;
      margin-left: 15px;
      border: 1px solid rgb(206, 176, 244);
      height: 200px;
      overflow-x: hidden;
      overflow-y: overlay;
      position: relative;
      border-radius: 8px;

      .pedigree-item {
        display: flex;
        align-items: center;
        font-size: 11px;
        padding: 5px;
        color: rgb(162, 162, 162);

        &.head {
          position: sticky;
          background-color: rgb(36, 28, 45);
          color: rgb(255, 255, 255);

          & > * {
            text-align: center;
          }
        }

        &:not(:last-child):not(.head) {
          border-bottom: 1px solid rgb(51, 37, 69);
        }

        &.highlight {
          color: rgb(249, 246, 255);
          background-color: rgb(67, 39, 98);

          .probability {
            // font-weight: bold;
          }
        }

        .level {
          width: 24px;
          text-align: center;
        }

        .description {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
          width: 70px;
        }

        .probability {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}
