.footer {
  display: flex;
  align-items: center;
  height: 54px;
  width: 100%;
  border-top: 1px solid #3f3f3f;
  background-color: black;
  justify-content: space-between;

  .menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #515151;
    height: 100%;
    box-sizing: border-box;

    &.highlight {
      color: #c478ff;
    }

    .icon {
      font-size: 18px;
    }

    .text {
      font-size: 10px;
      margin-top: 5px;
      // font-weight: bold;
    }
  }
}
